<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QLRPEntities1" connectionString="metadata=res://*/EF.Cinema.csdl|res://*/EF.Cinema.ssdl|res://*/EF.Cinema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI;initial catalog=QLRP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLRPEntities" connectionString="metadata=res://*/EF.Cinema.csdl|res://*/EF.Cinema.ssdl|res://*/EF.Cinema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=21AK22-COM\MSSQLSERVER02;initial catalog=QLRP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLRP1Entities" connectionString="metadata=res://*/EF.Model1.csdl|res://*/EF.Model1.ssdl|res://*/EF.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=21AK22-COM\MSSQLSERVER02;initial catalog=QLRP1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>